body {

    background-color: #f5f5f5;
}


.card-heading {

    padding: 10px 15px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    font-size: 20px
}

/* Start Login Form */

.login {
    width: 300px;
    margin: 100px auto;
}

.login h4 {color: #008dde; font-weight: bold; padding-bottom: 20px}

.login input { margin-bottom: 10px}

.login .form-control {background-color: #EAEAEA}

.login .btn { background-color: #008dde}

/* End Login Form */

/* Start navigation bar */

.dropdownprofile {

    position: absolute;
    right: 150px;

}

.navbar-brand{

    font-size: 1em;
}

.dropdown-menu {

    padding: 0;
    left: -60px;
}
.dropdown-item {

    padding: 10px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #008dde;
}
/* End navigation bar */

/* Start Dashboard Page */

.home-stats .stat {

  padding: 20px;
  font-size: 15px;
  color: #fff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.home-stats .stat i {

    position: absolute;
    font-size: 80px;
    top: 40px;
    left: 25px
}
.home-stats .stat .info {
    float: right;
}

.home-stats .stat a {

    color: #fff;
}

.home-stats .stat a:hover {

    text-decoration: none;
}
.home-stats .stat span {

  display: block;
  font-size: 60px;
}

.home-stats .st-members {

    background-color: #3498db;

}

.home-stats .st-pending {

    background-color: #c0392b;
}

.home-stats .st-items {

    background-color: #d35400;
}

.home-stats .st-comments {

    background-color: #76bb1b;
}

.latest{

    margin-top: 30px;
}

.latest .toggle-info {

    color: #999;
    cursor: pointer;
}
.latest .toggle-info:hover{
    color: #444
}
.latest .latest-users {

    margin-bottom: 0;
}

.latest .latest-users li {

    padding: 10px;
    overflow: hidden;
}

.latest .latest-users li:nth-child(odd){
    background-color: #eee;
}

.latest-users .btn-success {
        padding: 3px 8px
}

.latest .comment-box {margin: 5px 0 10px}

.latest .comment-box .member-n,
.latest .comment-box .member-c{
    float: left;
}

.latest .comment-box .member-n {

    width: 80px;
    text-align: center;
    margin-right: 20px;
    position: relative;
    top: 8px;
    border-bottom: 2px solid #abaaaa
}

.latest .comment-box .member-c {
    width: calc(100% - 100px);
    background-color: #EFEFEF;
    padding: 10px;
    position: relative;
}
.latest .comment-box .member-c:before {
    content: "";
    display: block;
    position: absolute;
    left: -28px;
    top: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #EFEFEF transparent transparent;
    border-width: 15px;
}
/* End Dashboard Page */

/* Start Member Page */
 h1 {

    font-size: 50px;
    margin: 40px 0;
    font-weight: bold;
    color: #666;
 }

.form-group input[type=submit]{ width: 58% }

.show-pass{

   position: absolute;
   top: 2px;
   right: -30px
 }

 i {

   position: relative;
    margin-right: 5px;
 }
.main-table td {

  background-color: #fff;
  vertical-align: middle !important;

}
.main-table tr:first-child td{

   background-color: #444;
   color: #fff

 }

.main-table .btn {

  padding: 3px 10px;
}

.main-table .activate {

    margin-left: 5px;
}
/* End Member Page */

/* Start Category Page */
.categories .ordering { padding-right: 20px}

.categories .ordering a {

    color: #888;
    text-decoration: none;
}
.categories .ordering .active {

    color: #f00;
    font-weight: bold;
}

.categories .card-body {

    padding: 0;
}

.categories .cat{

    padding: 15px;
    position: relative;
    overflow: hidden;
}
.categories .cat:hover .hidden-button { right: 10px;}
.categories .cat .hidden-button {

    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    top: 50px;
    right: -200px;
}
.categories .cat .hidden-button a { margin-right: 5px;}
.categories .cat h3 {

    margin: 0 0 10px;
}

.categories .cat:last-of-type ~ hr {
    display: none;
}

.categories .cat .visibility {

    background-color: #d35400;
    color: #fff;
    padding: 4px 6px;
    margin-right: 6px;
    border-radius: 6px;
}
.categories .cat .commenting {

    background-color: #2c3e50;
    color: #fff;
    padding: 4px 6px;
    margin-right: 6px;
    border-radius: 6px;
}
.categories .cat .advertises {

    background-color: #c0392b;
    color: #fff;
    padding: 4px 6px;
    margin-right: 6px;
    border-radius: 6px;
}
.categories .addcat {

    margin-top: 15px;
    margin-left: 10px;
}
/* End Category Page */
.items .itembtn {

    width: 200px !important;
    position: absolute;
    left: 160px;
}
